/*
gris base : #6b7777 rgba(107,107,199,1)

*/


/*
@plone-link-color:#8595ac; //plone blue made slightly darker for wcag 2.0
@plone-link-color-on-dark:#8595ac;
*/


/*** BODY ****/
body.template-facetednavigation_view #faceted-results > div > nav.pagination:first-child {
    display: none;
}
}
body.template-summary_view h2 {
    font-size: 22px;
}
body.template-album_view .photoAlbumEntryTitle {
    display: block;
    padding-top: 10px;
}



.stop-float{
    clear:both;
}


a, a:hover, a:focus {
    color:#8595ac;
    text-decoration:none;
    border-bottom:0px;
}
a:active, a:hover {
    color:#75859c;
}

#content-core a {
    border-bottom:none !important;
}

h5 {
    font-size: 16px;
}


/*** HEADER ***/
.flex-box{
    display:flex;
}
.justify-content-space-between{
    justify-content:space-between;
}

header#top-over-portal-top{
    width:100%;
    height:45px;
    padding:6px;
    background-color:#444750;
}

header#top-over-portal-top a{
    color:#fff;
}

header#top-over-portal-top a:hover{
    color:#fff;
    text-decoration:none;
}

header#portal-top-noetique{
    background-color:#6b7777;
    margin:0px;
    height:270px;
}

header#portal-top-noetique div.container{
    background:url('/++theme++noetique/images/bandeau_sup.png') no-repeat 75% 45px fixed;
}

section#portal-top-logo,
section#portal-top-texte,
section#top-texte-nom,
section#top-texte-expertise{
    color:#fff;
}

article.tileItem{
    margin-bottom:25px;
}

section#portal-top-logo,
section#portal-top-texte{
    height:276px;
}

section#portal-top-logo{
    float:left;
    width:150px;
    padding-top:140px;
}

section#portal-top-texte{
    float:right;
    width:490px;
    padding-top:164px;
    text-align:right;
}

section#portal-top-logo span#top-prenom{
    font-size:58px;
}
section#portal-top-logo span#top-nom{
    font-size:2.5em;
    display:block;
    margin-top:-25px;
    margin-left:2px;
}

section#portal-top-texte span#tisserand{
    font-size:1.6em;
}
section#portal-top-texte span#conferencier{
    font-size:2.6em;
}

section#top-texte{
    float:left;
    width:400px;
    color:#fff;
    font-weight:bold;
    font-size:1.1em;
}

section#top-portal-searchbox{
    float:right;
    width:600px;
}

/*** barre de nav tablette telephone ***/
.plone-navbar {
    background-color:#989999;
}
.plone-navbar-nav {
    margin: -5px -14px -1px;
}

/*** BREADCRUMB ***/
.plone-breadcrumb ol a {
    color: #8595ac;
}


/*** ICONE TYPE OBJET ***/
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-folder::before {
    content:none;
}



/*** BORDER DROITE SUR CONTENT ***/
article#content{
    padding-right:10px;
    border-right:1px solid #6b7777;
}



/*** NAVIGATION BOX ***/
.portletNavigationTree .portletContent > ul > li > a {
    color:#6b7777;
    background: #fafafa none repeat scroll 0 0;
    font-weight: bold;
}

.portlet .portletContent > ul > li a::before {
    content:"";
}

section.portletNavigationTree.portlet {
    border: 0px solid #e5e5e5;
    border-radius:0px;
    box-shadow:none;
    margin-bottom: 20px;
}



/*** CONTENT ***/
#content #relatedItemBox {
    background-color: #E6E4E4;
    padding: 10px;
}
#content #relatedItemBox header {
    font-size: 16px;
}
#content ul,
#content ol {
    padding-left: 15px;
}

#content nav.pagination a {
    color: #8595AC !important;
}
#content nav.pagination li.active span {
    background-color: #8595AC !important;
    border-color: #8595AC !important;
}


/*** PORTAL COLUMN ***/
#portal-column-two .portlet-static-les-incontournables {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
#portal-column-two .portlet-static-les-incontournables .portletHeader {
    color: #FFF;
    background-color: #444750;
    border-radius: 0px;
    padding: 6px 15px;
    font-size: 16px;
    text-align: center;
}
#portal-column-two .portlet-static-les-incontournables .portletContent {
    background-color: transparent;
}
#portal-column-two .portlet-static-les-incontournables .portletContent a {
    color: #6b7777 !important;
    font-weight: bold;
    padding: 10px 15px !important;
}

#portal-column-two .portletWrapper #contactez-marc-halevy-portlet,
#suivez-marc-halevy-portlet {
    margin-top: 50px;
    background-color: #444750;
    padding: 10px;
}
#portal-column-two .portletWrapper #contactez-marc-halevy-portlet p,
#suivez-marc-halevy-portlet p {
    margin-bottom: 0px;
}
#portal-column-two .portletWrapper #contactez-marc-halevy-portlet a,
#suivez-marc-halevy-portlet a {
    color: #FFF !important;
}

#portal-column-two .portletNavigationTree a.contenttype-plone-site {
    color: #6b7777;
    font-weight: bold;
    padding-left: 12px;
    background-color: #FCFCFD;
}
#portal-column-two .portletNavigationTree a.contenttype-plone-site {
    border-top: none;
}
#portal-column-two .portletNavigationTree a.contenttype-plone-site::before {
    width: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}



/*** PRINICPAL ***/
.principal {
    color:#6b7777;
    background:#dbdcdd;
    font-size:0.8em;
    font-weight:normal;
    margin-bottom:20px;
    margin-top:-20px;
    padding:15px 0;
}

.principal h1, .principal h2 {
    font-size: 2em;
    border-bottom: 1px solid #6b7777;
    padding-bottom: 16px;
}



.plone-navbar-nav > .selected > a,
.plone-navbar-nav > .selected > a:hover,
.plone-navbar-nav > .selected > a:focus {
    color:#fff;
    background-color:#aaa;
}

i.link-external::after {
    content: "";    /*"\e144";*/
}



/*** HOME PAGE ***/
body.template-home_view #portal-breadcrumbs {
    display: none;
}



/*** BOXES HOMEPAGE ***/
#home-boxes {
    display:flex;
    justify-content:space-between;
}

div.home-boxes-column-left,
div.home-boxes-column-right{
    width:370px;
}

#home-boxes .box {
    margin: 0 0 30px;
}

#home-boxes .box > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

#home-boxes .box > header {
    font-size: 14px;
    font-weight: bold;
    padding-top: 0.75rem;
    padding-bottom: 0.30rem;
    background-color: #444750;
    box-shadow:1px 1px 3px rgba(50,50,50,0.5);
    color: #FFF;
    margin-bottom: 15px;
}

#home-boxes h5 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

#home-boxes section {
    margin-bottom: 15px;
}


#home-boxes .box > section a,
#home-boxes .box > footer a{
    color:#505959;
}

#home-boxes .box > footer {
    margin-top:8px;
    border-top:1px dotted #777;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
    text-align:left;
    font-size:0.8em;
    clear:both;
}

#home-boxes section#box-video iframe{
    width:100%;
}

#home-boxes section#box-bebooda img#lunette-verte{
    float: right;
    margin-left: 4px;
    margin-bottom: 3px;
}
#home-boxes section#box-bebooda img#logo-bebooda{
    display:block;
    margin:auto;
}
#home-boxes section#box-bebooda .texte-vert{
    color: #26b34b;
}
#home-boxes section#box-bebooda #liste-bebooda{
    margin-left: 25px;
    list-style-type: none;
}

#home-boxes #box-books > section {
}

#home-boxes #box-books img {
    width: 20%;
    float: right;
    margin: 0px 0px 20px 1rem;
}


#home-boxes #box-news img {
    display: block;
    width: 100%;
    max-width: 125px;
    width: auto;
    float: right;
}

#home-boxes #box-thought section a {
    font-size: 16px;
}



/*** LISTING ARTICLES ***/
article.entry{
    border-left:3px solid #eaeaea;
    padding:1rem;
    margin:10px 0px;
    /*box-shadow:1px 1px 3px rgba(50,50,50,0.1);*/
}



/*** BOOK ***/
img.img-book{
    float:left;
    margin-right:10px;
}

figure.info-book figcaption a{
    border-bottom:0px !important;
    color:#505959;
}



/*** AGENDA ***/
.timezone{
    display:none;
}

.event.summary {
    font-weight: 400;
    max-width: 300px;
    float: right;
    background: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
    padding: 12px 12px 12px 25px !important;
    margin-left: 32px;
    border: 1px solid #aaa;
    border-radius:5px;
}


/*** FOOTER ***/
#portal-footer-wrapper {
    background-color: #444750;
    color: #FFF;
    padding: 10px 0px 0px;
}
#portal-footer-wrapper a {
    color: #FFF !important;
}
#portal-footer-wrapper ul {
    list-style-type: none;
}
#portal-footer-wrapper ul li {
    display: inline-block;
    padding-right: 30px;
    height: 38px;
}
#portal-footer-wrapper ul li span {
    display: inline-block;
    height: 38px;
    width:38px;
    background-image:url('/++theme++noetique/images/sprite_footer.png');
    background-repeat:no-repeat;
}
#portal-footer-wrapper ul li a {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 7px;
}
#portal-footer-wrapper ul li#footer-rss span {
    background-position: -40px 0;
}
#portal-footer-wrapper ul li#footer-print span {
    background-position: -80px 0;
}
#portal-footer-wrapper ul li#footer-plone span {
    background-position: -120px 0;
}
#portal-footer-wrapper .portletWrapper:first-child {
    border-bottom: none;
    padding: 0px;
    margin: 0px;
}








@media print {
    a[href]:after {
    content: "";
    }
    #portal-globalnav,
    #portal-column-two,
    #portal-top-texte,
    #portal-footer-wrapper {
        display: none;
    }
    header#portal-top-noetique,
    section#portal-top-logo,
    section#portal-top-texte {
        height: 100px !important;
        padding: 0px !important;
    }
    #main-container > #column1-container + div  {
        width: 100% !important;
    }
    article#content {
        border-right: none;
    }
}



/*** RESPONSIVE ***/
/*SmartPhone 480px*/
@media (max-width: @plone-screen-xs-min){
  section#top-texte-nom,
  section#top-texte-expertise{
    margin-top:3px;
    font-size:20pt;
  }

  div#hero{
      display:none;
  }

  nav#portal-breadcrumbs{
      display:none;
  }

  .plone-navbar-toggle{
      margin-right:10px;
      padding:0px;
      border:none;
      margin-bottom: -15px;
  }
  .plone-navbar-toggle .icon-bar::after {
    content: "\2261";
    font-family:"responsivenav";
    font-size: 45px;
    font-weight:bold;
    position: relative;
    top:-10px;
    color: #fff;
  }

  .plone-navbar-toggle:hover {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
    text-shadow:0px 0px 0px rgba(0,0,0,0);
  }

  div.home-boxes-column-left,
  div.home-boxes-column-right{
    float:none;
    clear:both;
    margin:auto;
  }
  aside#portal-column-two{
    display: none;
  }
  section#portal-searchbox{
    margin-top:-5px;
  }
  header#portal-top-noetique{
      display:none;
  }
  nav.plone-navbar{
    display:block;
  }
  section#top-texte-expertise{
    display:none;
  }
  section#top-texte-nom{
      display:inline-block;
  }

  nav#portal-globalnav-wrapper div.container{
     padding:0px 0px;
  }

  div.col-xs-12,
  div.col-sm-12{
      padding:0px 10px;
  }

  /*** BORDER DROITE SUR CONTENT ***/
  article#content{
    padding-right:0px;
    border-right:0px solid #6b7777;
  }

  div.home-boxes-column-left,
  div.home-boxes-column-right{
    width:100%;
  }

  img.img-book{
    float:none;
    display:block;
    margin:auto;
  }
  figure.info-book figcaption h5{
      text-align:center;
  }
  figure.info-book figcaption{
      text-align:left;
  }
  figure.info-book figcaption a{
    border-bottom:none;
    color:#505959;
  }
  figure.info-book figcaption a:hover{
    border-bottom:1px !important;
  }
}

/*** tablette portrait entre 468 et 768px ***/
@media (min-width: 468px) and (max-width: 768px){

  aside#portal-column-two {
    display:none;
  }

  section#top-texte-nom,
  section#top-texte-expertise{
    margin-top:3px;
    font-size:14pt;
  }

  section#portal-searchbox{
    margin-top:-5px;
  }

  header#portal-top-noetique{
      display:none;
  }

  section#top-texte-expertise{
      display:none;
  }

  section#top-texte-nom{
      display:inline-block;
  }

  /*navigation onglet menu*/
  nav.plone-navbar{
    display:block;
  }

  /*** BORDER DROITE SUR CONTENT ***/
  article#content{
    padding-right:0px;
    border-right:0px solid #6b7777;
    }

  #portal-footer-wrapper ul li {
    display:block;
    }
}

/*** tablette paysage entre 768px et 992px ***/
@media (min-width: 768px) and (max-width: 992px){
  div.home-boxes-column-left,
  div.home-boxes-column-right{
    float:none;
    clear:both;
    margin:auto;
  }

  header#portal-top-noetique div.container{
      width:100%;
  }

  section#top-texte-nom,
  section#top-texte-expertise{
    margin-top:3px;
    font-size:14pt;
  }

  section#portal-searchbox{
    margin-top:2px;
  }

  header#portal-top-noetique{
      display:block;
  }

  section#top-texte-expertise{
      display:inline-block;
  }
  section#top-texte-nom{
      display:none;
  }

  /*navigation onglet menu*/
  nav.plone-navbar {
    display:block;
  }
}



/*** Desktop > 992 ***/
@media (min-width: 992px){
    .container{
        width:1100px !important;
    }
    ul#portal-globalnav{
        display:none;
    }
    section#top-texte-nom,
    section#top-texte-expertise{
        margin-top:3px;
        font-size:14pt;
    }
    section#portal-searchbox{
        margin-top:2px;
    }

    header#portal-top-noetique{
        display:block;
    }

    section#top-texte-expertise{
        display:inline-block;
    }
    section#top-texte-nom{
        display:none;
    }

    /*navigation onglet*/
    nav.plone-navbar{
        display:none;
    }

    div.home-boxes-column-left{
    }
    div.home-boxes-column-right{
    }
}